.myBtn {
    padding: 5px 15px;
    color: #333;
    font-size: 14px;
    background: transparent;
    border: 1px solid #8458B3;
    border-radius: 5px;
    cursor: pointer;
    background: #fff;

    transition: background .1s;
}

.myBtn:hover {
    background: #a0d2eb;
}