.myBtn {
    padding: 5px 15px;
    color: #333;
    font-size: 14px;
    background: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* background: #8458B3;
     */
     background: #a0d2eb;

    transition: background .1s;
}

.myBtn:hover {
    background: #8458B3;
}